# Supabase
NEXT_PUBLIC_SUPABASE_URL=your_supabase_url
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Iml3Z2Zhd21oa3duZmNjenl2Z3RyIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODE0Mjc4NjQsImV4cCI6MjA5NzAwMzg2NH0.uSvMk7cTN7t7Bc7gApsoFTMS3z1iN0TeY0PPR--eu9E
